.commentsbg{
	background: #E6E6E6;
	border-radius: 10px;
}

.col-lg-3{
	border: solid orange;
	text-align: center;
}

.col-lg-11{
	background: #E6E6E6;
	border-radius: 10px;
	height: 150px;
	margin: 5px;
	overflow: hidden;

}

.col-lg-4{
	border: solid red;
	text-align: center;
}



.container{
	border-radius: 10px;
	border: solid gray;
	margin-top: 5px;
	
}

h2{
	color:green;
}

.logo{
	width: 150px;
}


.logSection{
	
	text-align: right;
}




.sectionb{
	border: solid 2px green;
}


.top-buffer { 
	margin-top:20px; 

}


.zoneb{
border:solid magenta
}







